@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);

    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $accent-palette: map.get($color-config, 'accent');

    .theme-picker {
        .mat-menu-item {
            .theme-example-icon {
                svg {
                    .accent {
                        fill: mat.get-color-from-palette($accent-palette);
                    }
                    .primary {
                        fill: mat.get-color-from-palette($primary-palette);
                    }
                }
            }
        }
    }
}

@mixin typography($theme) {
    // Get the typography config from the theme. So we can reuse its levels rules
    // A typography config is a collection of all typography levels, contains the styles for each level, keyed by name
    // A typography level is a collection of typographic styles rules (font family, font weight, font size, ...) that can be applied to a text
    $typography-config: mat.get-typography-config($theme);
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
        @include typography($theme);
    }
}
