@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
    
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
    $warn-palette: map.get($color-config, 'warn');
    $accent-palette: map.get($color-config, 'accent');
    $foreground: map.get($color-config, foreground);

    .card-title, .card-metadata {
        color: mat.get-color-from-palette($foreground, text);
    }
    .card-subtitle, .metadata-key {
        color: mat.get-color-from-palette($foreground, secondary-text);
    }

    .color-box {
        background-color: mat.get-color-from-palette($accent-palette);
        border-color: mat.get-color-from-palette($accent-palette);
        color: mat.get-color-from-palette($accent-palette, default-contrast);
    }
}

@mixin typography($theme) {
    // Get the typography config from the theme.
    $typography-config: mat.get-typography-config($theme);
    
    .card {
        font-family: mat.font-family($typography-config);
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
        @include color($theme);
    }

    $typography-config: mat.get-typography-config($theme);
    @if $typography-config != null {
        @include typography($theme);
    }
}