<div>
  <div class="card mat-elevation-z3" [ngClass]="{'is-loading': !mod}">
    <div class="card-image">
      <img *ngIf="mod" [src]="mod.image_url" alt="Mod image"/>
    </div>
    <div class="card-content">
      <div class="card-title">
        <h1 *ngIf="mod">{{mod.name}}</h1>
        <app-simple-chip class="mod-category" *ngIf="mod" color="accent">{{mod.category}}</app-simple-chip>
      </div>
      <div class="card-subtitle">
        <p *ngIf="mod">{{ mod.authors }}</p>
      </div>
      <div class="card-metadata">
        <div class="metadata-row" *ngIf="mod">
          <span class="medatada-key"> PUBLISHED </span>
          <span class="date">{{mod.published_date | date}}</span>
          <span *ngIf="mod.updated_date">
                        <span class="medatada-key"> &#x2022; UPDATED </span>
                        <span class="date">{{mod.updated_date | date}}</span>
                    </span>
        </div>
        <div class="metadata-row" *ngIf="mod">
          <span class="metadata-key">Size </span>
          <span>{{ mod.size }}</span>
        </div>
      </div>
      <div class="links" *ngIf="mod">
        <a mat-button [href]="mod.url" target="_blank">Visit smods.ru page <mat-icon>launch</mat-icon></a>
        <a mat-button [href]="mod.steam_url" target="_blank">Visit Steam Workshop page <mat-icon>launch</mat-icon></a>
      </div>
    </div>
    <div *ngIf="mod" class="card-actions">
      <app-mod-actions [mod]="mod" direction="vertical"></app-mod-actions>
    </div>
  </div>
  <div class="mod-content" *ngIf="mod">
    <div class="description-container">
      <div  class="description-box" [innerHTML]="mod.description"> </div>
    </div>
    <div class="requirements">
      <div *ngIf="mod.mod_requirements" class="card mat-elevation-z3">
        <div class="card-content">
          <div class="card-title">
            <h3>{{'PAGES.MOD.MOD_REQUIREMENTS' | translate}}</h3>
          </div>
          <div class="card-subtitle">
            <p>{{'PAGES.MOD.MOD_REQUIREMENTS_DISCLAIMER' | translate}}</p>
          </div>
          <mat-action-list>
            <button mat-list-item *ngFor="let requirement of mod.mod_requirements" [routerLink]="['/mod', requirement.id]">
              {{requirement.name}}
            </button>
          </mat-action-list>
        </div>
      </div>
      <div *ngIf="mod.dlc_requirements" class="card mat-elevation-z3">
        <div class="card-content">
          <div class="card-title">
            <h3>{{'PAGES.MOD.DLC_REQUIREMENTS' | translate}}</h3>
          </div>
          <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let requirement of mod.dlc_requirements">
              {{requirement}}
            </mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>
